/* Register.css */

.register-container {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.register-container h1 {
    margin-bottom: 16px;
}

.register-container form {
    width: 100%;
}

.register-container .MuiTextField-root {
    margin-bottom: 16px;
}

.register-container .MuiButton-text {
    margin-top: 16px;
    color: #3f51b5; /* Adjust color as needed */
}
.register-container button {
    margin-top: 16px;
}

.error-message {
    color: red;
    margin-bottom: 16px;
    font-size: 0.875rem;
}
.success-message {
    color: red; /* Change color to red */
    font-weight: bold;
    margin-top: 10px;
}
.register-container .login-link {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.register-container .login-button {
    /* border-radius: 35px; */
    margin-top: 0px;
    color: #fff;
    background-color: #3f51b5;
    text-transform: none;
}

.register-container .login-button:hover {
    background-color: #303f9f; /* Darker shade of blue for hover effect */
    color: #fff; /* Ensure text color remains visible */
}